footer#footer
    .container
        .footer-links
            .col-sm-4
                h4 Каталог товаров
                ul
                    li 
                        a(href="#") Строительные материалы
                    li 
                        a(href="#") Отделочные материалы
                    li 
                        a(href="#") Инструменты
                ul
                    li 
                        a(href="#") Крепёж
                    li 
                        a(href="#") Электротехническая группа
                    li 
                        a(href="#") Сантехника и водоснабжение
                a.goods-on-brands(href="#") Товары по брендам
            .col-sm-4
                h4 Покупателям
                ul
                    li 
                        a(href="#") Оплата и доставка
                    li 
                        a(href="#") Гарантия и возврат
                    li 
                        a(href="#") Скидки и акции
                    li 
                        a(href="#") Новости
                ul
                    li 
                        a(href="#") Статьи
                    li 
                        a(href="#") Инструкции
                    li 
                        a(href="#") Готовые наборы
                    li 
                        a(href="#") Вход/Регистрация
            .col-sm-4
                h4 Контакты
                ul
                    li 
                        | МКАД 51-й км
                        wbr
                        | (внешняя сторона)
                    li р. пос. Заречье
                    li
                        | ТЦ «ЭлитСтрой
                        wbr
                        | материалы»
                    li.foot-map  
                        a.modal-link(href="#") Схема проезда
                ul
                    li пн.-пт. с 10:00 до 20:00
                    li.foot-phone +7 (495) 105-85-02
                    li
                        a.modal-link(href="#") Заказать обратный звонок
                    li 
                        a(href="mailto:info@al-stroy.ru") info@al-stroy.ru
                    li 
                        a(href="#") Все контакты
            .col-sm-12
                hr

        .soc-links.col-sm-4
            h5 Мы в соцсетях
            ul
                li
                    a(href="#")
                        i.icon-facebook
                li
                    a(href="#")
                        i.icon-instagram
                li
                    a(href="#")
                        i.icon-odnoklassniki
                li
                    a(href="#")
                        i.icon-vkontakte
                li
                    a(href="#")
                        i.icon-twitter
        .payment.col-sm-2
            h5 Принимаем к оплате
            .pay-icons
        .subscribe.col-sm-6
            .subscribe-form
                h5 Подписаться на новости и акции
                .input-group
                    input.form-control(type="text", placeholder="Оставьте Ваш E-mail")
                    span.input-group-btn
                        button.btn.btn-default(type="button") Подписаться
.copyright-line
    .container
        .col-sm-12
            span.copyright &copy; 2016 Артель-Молл
            span 
                | Создание сайта - 
                a(href="#") Individ
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//use.fontawesome.com/c36757424e.js')