// Генерация стилей шрифтов 
@each $name-font in (LatoRegular, LatoBold, LatoItalic, LatoLight, LatoBoldItalic, LatoLightItalic) {
  @font-face {
  font-family: $name-font;
	src: url( '../fonts/' + $name-font + '/' + $name-font + '.eot');
	src: url('../fonts/' + $name-font + '/' + $name-font + '.eot?#iefix') format('embedded-opentype'),
            url('../fonts/' + $name-font + '/' + $name-font + '.woff') format('woff'),
            url('../fonts/' + $name-font + '/' + $name-font + '.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;}
}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?78133197');
    src: url('../fonts/fontello.eot?78133197#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff2?78133197') format('woff2'),
        url('../fonts/fontello.woff?78133197') format('woff'),
        url('../fonts/fontello.ttf?78133197') format('truetype'),
        url('../fonts/fontello.svg?78133197#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fontello';
        src: url('../fonts/fontello.svg?78133197#fontello') format('svg');
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}

.icon-location:before { content: '\e801'; }
.icon-clock:before { content: '\e802'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-timer:before { content: '\f0c9'; }
.icon-level-down:before { content: '\f149'; }
.icon-instagram:before { content: '\f16d'; }
.icon-right:before { content: '\f178'; }
.icon-vkontakte:before { content: '\f189'; }
.icon-odnoklassniki:before { content: '\f263'; }


/* Переопределение хлебных крошек Bootstrap*/
ol.breadcrumb {
    padding: 0;
}

.breadcrumb {
    padding: 5px 10px;
    margin-bottom: 5px;
    list-style: none;
    background-color: white;
    border-radius: 0;

    > li {
        display: inline-block;
        color: #bdbdbd;
        font-size: 13px;

        + li:before {
            font-family: fontello;
            content: "\f178";
            padding: 0 5px;
            color: #bdbdbd;
        }
    }

    > .active {
        color: #bdbdbd;
    }
    > .active:after {
        font-family: fontello;
        content: "\f149";
        padding: 0 5px;
        color: #bdbdbd; //*f149
    }
}

/* Исправление сетки Bootstrap под стандартный макет */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1176px;
    }
}
@media (min-width: 1650px) {
    .container {
        width: 1620px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Правила проекта*/
html, body { height: 100%; }
body {
    font: normal 15px 'LatoRegular', sans-serif; 
    display: table;
    width: 100%;
}
h1 {
    font: 33px 'Philosopher', sans-serif; 
    margin: 0;
}

p.small {
    font-size: 13px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.thumbnail {
    border: none;
}

.search-form, .subscribe-form {
    input {    
        height: 41px;
        border-radius: 10px;
    }
    button, button:hover, button:focus {
        color: #fff;
        background-color: #000;
        line-height: 27px;
        border-radius: 10px 10px !important;
        border-color: #000;
        left: -10px;
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px;
    }
    input[placeholder] {
        font-size: 12px;
    }
}

a.modal-link {
    border-bottom: 1px dotted;
    text-decoration: none;
}

#header {
    hr {margin: 5px 0 20px;}
}
// Вспомогательный блок main для динамически прилипающего подвала
#main {
    height: 100%;
    display: table-row;
}

.main-links { 

    display: inline-block;
    ul {
        padding-left: 0;
        margin: 0 0 0 -10px;
        li {
            display: inline;
            list-style-type: none;
            line-height: 3em;
            a {
                color: #0088c3;
                text-decoration: none;
                margin-right: 10px;
                padding: 3px 8px;
            }
            a.active {
                color: #000;
                background: #f7e452;
            }
        }
    }
}
.login-links {
    display: inline-block;
    float: right;
    line-height: 3em;
    img { 
        border-radius: 60px;
        width: 20px;
        margin: 8px;
    }
}

.work-clock-info{    
    float: left;

    .phone-number {
        font-weight: bold;
        font-size: 19px;
    }
    .work-clock {
        font-size: 13px;
        color: #757575;
    }
    .callback-link a {
        font-size: 13px;
        color: #424242;
        border-bottom: 1px dotted;
    }
}
.head-info {
    margin-bottom: 10px; 
}

.logo-full{
    float: left;
    width: 240px;
    height: 60px;
    background: url(/images/snippets.png) no-repeat 0px 0px;
}
.actions_with_goods {
    float: right;
    a { 
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.5px;}
} 
.compare, .aside, .cart{
    display: block;
    width: 130px;
    float: left;
    margin: 0px 0 0 22px;
}
.aside span, .compare span{
    float: left;
    font: italic 11px sans-serif;
    color: gray;
    width: 90px;
}
.cart span{

    float: left !important;
    font: bold 12px Arial, sans-serif;
    color: #000;
    width: 90px;

}
.compare:before, .aside:before, .cart:before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    float: left;
    margin: 0 7px 0 0;
    background: url(/images/snippets.png) no-repeat;

}
.compare:before{
    background-position: -132px -60px;}
.aside:before{
    background-position: -191px -60px;}
.cart:before {
    background-position: -164px -60px;}

.affix-panel {
    float: left;
    background: #f2f2f2;
    padding: 15px 0;
    margin-bottom: 15px;}
.block-logo{
    display:none;
    width: 170px;
    .phone_number{
        font: bold 18px sans-serif;
    }
}
.logo-small {
    width: 130px;
    height: 16px;
    background: url(/images/snippets.png) no-repeat 0px -60px;
    margin: 0 0 10px 0;

} 
.catalog-button {
    display: block;
    font: 20px sans-serif; 
    color: #fff;
    padding: 9px 10px;
    background: #ee2424; 
    border-radius: 10px;
    text-align: center;
}
.link_promo {
    display: block;
    background: white;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    float: left;
    span {
        font: bold 15px sans-serif;
        width: 60px;
        float: right;
        text-align: center;
        line-height: 0.9em;
        margin-top: 6px;
        display: inline-block;
    }
    :before {
        display: block;
        content: "";
        width: 55px;
        height: 55px;
        background: url(/images/snippets.png) no-repeat -60px -97px;
        float: left;    
        position: absolute;
        left: 7px;
        top: -5px;
    }
}
.small-compare, .small-aside, .small-cart, .small-login {
    content: "";
    display: none;
    width: 31px;
    height: 31px;
    float: left;
    margin: 5px 20px 0 0;
    background: url(/images/snippets.png) no-repeat;

}
.small-compare{
    background-position: -132px -60px;
}
.small-aside{
    background-position: -191px -60px;
}
.small-cart{
    background-position: -164px -60px;
}
.small-login{
    background-position: 0px -54px;
    background-size: 400%;
    border-radius: 20px;
}

.small-compare, .small-aside, .small-cart, .small-login {
    display: none;
    width: 31px;
    height: 31px;
}
.small-compare > div, .small-aside > div, .small-cart > div, .small-login > div {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 3px;
    margin: 0 5px;
}

// Правила фиксированного к верху блока header 
.affix {
    position: fixed;
    top: 0;
    z-index: 1;
}
.affix-panel.affix {
    padding: 10px 0 5px; 
    .catalog-button {
        width: 140px;
    }
    .block-logo{
        display:block;

    }
    .link_promo {
        display: none;}
    .search-form {
        max-width: 45%;
    }
    .small-compare, .small-aside, .small-cart, .small-login {
        display: inline-block;
    }
}

.item-sale{
    h3 {
        margin-bottom: 7px;
        a {
            font-size: 17px;
        }
    }
    .countdown {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .countdown span{
        background: #f7e452;
        font: bold 18px sans-serif;
        vertical-align: middle;
        padding: 2px 4px;
    }
    .countdown:before {
        content: "\e802";
        font-family: fontello;
        font-size: 23px;
        vertical-align: middle;
    }
}
.sale-description {
    background: #f2f2f2;
    padding-bottom: 10px;
    h3 {
        font: 28px 'Philosopher', sans-serif;
    }
    .warning {
        color: #ee2424;
        font-size: 17px;
        margin-bottom: 20px;
    }
}
.item-description {
    display: table-row;
    margin-bottom: 17px;
    div {
        display: table-cell;
        padding: 2px 6px;
        font-size: 40px;
        background-color: #f3d304; 
        line-height: 1em;
        vertical-align: middle;
    }
    span {

        display: table-cell;
        padding: 0 12px;
        vertical-align: middle;
    }
}
#footer {
    display: table-row;
    height:1px;
    background: #666;
    h5 {color: #c5c5c5;
        font-size: 12px;}
}
.footer-links{
    color: #fff;
    padding: 20px 0;
    h4 {
        font: 15px "LatoBold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    ul {
        font-size: 13px;
        padding: 0 20px 0 0;
        float: left;
        display: block;
        width: 50%;
        li {
            list-style-type: none;
            line-height: 1.1em;
            margin-bottom: 8px;
            a {
                color: #fff;
            }
            a.modal-link:hover {
                color: #ff8383;
            }
        }
    }

    hr {
        margin: 5px 0;
        border: 0;
        border-top: 1px solid #8c8c8c;
    }
}
.foot-map {
    margin: 22px 0 0 0;}
.foot-map:before {
    content: "\e801";
    font-family: fontello;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.foot-phone {
    font: 17px "LatoBold";
}
a.goods-on-brands {
    color:  #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
}
a.goods-on-brands:hover {
    background: #555;
}
.soc-links {
    ul {
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 30px;
                margin-right: 18px;
            }
        }
    }
}
.payment {
    h5 {color: #c5c5c5;
        font-size: 12px;}
}
.pay-icons {
    border: 7px solid #fff;
    height: 35px;
    width: 130px;
    background: url(/images/snippets.png) 4px -76px #fff;
    border-radius: 10px;
}
.subscribe-form {
    button, button:hover {
        padding: 6px 9px;
        font-size: 14px;
        font-weight: bold; 
        line-height: 21px;
    }
    input {
        height: 35px;
    }
}
.copyright-line {
    background: #000;
    height: 40px;
    font-size:13px; 
    color: #fff;
    span{
        line-height: 40px;
        margin-right: 30px;
        a {
            color: #fff;
            font-size: 13px;
        }
    }
}
.copyright {
    color: #9E9E9E;
}