doctype html
html(lang='en')
  head
    include include/head.pug
  body
    header#header
        .container
            .row
                .top-menu-links.col-sm-12
                    .main-links
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") О компании
                            li
                                a.active(href="#") Скидки и акции
                            li
                                a(href="#") Новости
                            li
                                a(href="#") Контакты
                    .login-links
                        img(src='/images/people-cap.png')
                        a(href="#") Вход
                        |  / 
                        a(href="#") Регистрация
                    hr
                div.head-info.col-sm-12
                    .logo-full
                    .work-clock-info
                        .phone-number +7 495 105-85-02
                        .work-clock пн. — сб.: с 10:00 до 20:00
                        .callback-link 
                            a(href="#") Заказать обратный звонок
                    .actions_with_goods
                        .compare 
                            a(href="#") Сравнение
                            span Нет товаров для сравнения
                        .aside 
                            a(href="#") Отложенные
                            span Нет отложенных товаров
                        .cart 
                            a(href="#") Корзина
                            span 
                                | 14 товаров
                                br
                                |  на 112 345 ₽
        .affix-panel.col-sm-12.affix(data-spy="affix", data-offset-top="213", data-offset-bottom="0") 
            .container
                .block-logo.col-sm-2
                    .logo-small
                    .phone_number +7 495 105-85-02
                .catalog-button.col-sm-3 
                    i.fa.fa-bars  
                    |  Каталог
                .search-form.col-sm-7
                    .input-group
                        input.form-control(type="text", placeholder="Поиск по товарам по названию, описанию, артикулу")
                        span.input-group-btn
                            button.btn.btn-default(type="button") Найти
                .link_promo.col-sm-3
                    a(href="#")
                        span Скидки и акции
                a(href="#")       
                    .small-compare
                a(href="#")
                    .small-aside
                        div 5
                a(href="#")
                    .small-cart 
                        div 14
                a(href="#")
                    .small-login 
        .container
            .row
                .col-sm-12
                    ol.breadcrumb
                        li.active Главная
                .col-sm-12
                    h1 Скидки и Акции
    #main      
        #content
            .container
                .row
                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Мягкая черепица Shinglas 285 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 00:08:28:39
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.

                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Софиты Tecos 40 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 00:05:12:32
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.

                    .col-sm-6.col-md-6.col-lg-4
                        .item-sale.thumbnail
                            h3 
                                a(href="#") Фасадные панели RoyalStone Гранит 350 руб/кв.м
                            .countdown
                                |  Действует до 
                                strong 14.11.2016 
                                span 11:23:15:52
                            img(src='/images/item.jpg', alt='Мягкая черепица Shinglas 285 руб/кв.м')
                            .caption
                                p Российиский производитель проводит суперакцию на фасадные панели коллекции &laquo;Гранит&raquo; по Ценам прошлого года. Успейте купить.
            .sale-description
                .container
                    .row
                        .col-sm-12
                            h3 Скидка на заказ 
                        .item-description.col-sm-4
                            div 3%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 30 000 ₽
                        .item-description.col-sm-4
                            div 5%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 50 000 ₽
                        .item-description.col-sm-4
                            div 10%
                            span 
                                | При сумме заказа 
                                br 
                                | от 
                                strong 100 000 ₽
                        .col-sm-12
                            h3 Скидка от общей суммы покупок на сайте
                            p
                                a(href="#") Авторизуйтесь
                                |  или 
                                a(href="#") зарегистрируйтесь 
                                |  на сайте и Вы сможете получить персональную скидку
                            p.warning Больше покупок - больше выгода!
                        .item-description.col-sm-4
                            div 3%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 150 000 ₽
                        .item-description.col-sm-4
                            div 5%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 450 000 ₽
                        .item-description.col-sm-4
                            div 7%
                            span 
                                | При общей сумме оплаченных заказов 
                                br 
                                | от 
                                strong 700 000 ₽
                        .col-sm-12
                            p.small *Перечисленные скидки не суммируются, не действуют на товары по акции и товар дня.
                                br
                                | При оформлении окончательной стоимости заказа применяется наибольшая скидка.

    include include/footer.pug