
<footer id="footer">
	<div class="container">
		<div class="footer-links">
			<div class="col-sm-4">
				<h4>Каталог товаров</h4>
				<ul>
					<li> <a href="#">Строительные материалы</a></li>
					<li> <a href="#">Отделочные материалы</a></li>
					<li> <a href="#">Инструменты</a></li>
				</ul>
				<ul>
					<li> <a href="#">Крепёж</a></li>
					<li> <a href="#">Электротехническая группа</a></li>
					<li> <a href="#">Сантехника и водоснабжение</a></li>
				</ul><a class="goods-on-brands" href="#">Товары по брендам</a>
			</div>
			<div class="col-sm-4">
				<h4>Покупателям</h4>
				<ul>
					<li> <a href="#">Оплата и доставка</a></li>
					<li> <a href="#">Гарантия и возврат</a></li>
					<li> <a href="#">Скидки и акции</a></li>
					<li> <a href="#">Новости</a></li>
				</ul>
				<ul>
					<li> <a href="#">Статьи</a></li>
					<li> <a href="#">Инструкции</a></li>
					<li> <a href="#">Готовые наборы</a></li>
					<li> <a href="#">Вход/Регистрация</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Контакты</h4>
				<ul>
					<li>
						 МКАД 51-й км
						<wbr/>(внешняя сторона)
					</li>
					<li>р. пос. Заречье</li>
					<li>ТЦ «ЭлитСтрой
						<wbr/>материалы»
					</li>
					<li class="foot-map"> <a class="modal-link" href="#">Схема проезда</a></li>
				</ul>
				<ul>
					<li>пн.-пт. с 10:00 до 20:00</li>
					<li class="foot-phone">+7 (495) 105-85-02</li>
					<li><a class="modal-link" href="#">Заказать обратный звонок</a></li>
					<li> <a href="mailto:info@al-stroy.ru">info@al-stroy.ru</a></li>
					<li> <a href="#">Все контакты</a></li>
				</ul>
			</div>
			<div class="col-sm-12">
				<hr/>
			</div>
		</div>
		<div class="soc-links col-sm-4">
			<h5>Мы в соцсетях</h5>
			<ul>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
				<li><a href="#"><i class="icon-odnoklassniki"></i></a></li>
				<li><a href="#"><i class="icon-vkontakte"></i></a></li>
				<li><a href="#"><i class="icon-twitter"></i></a></li>
			</ul>
		</div>
		<div class="payment col-sm-2">
			<h5>Принимаем к оплате</h5>
			<div class="pay-icons"></div>
		</div>
		<div class="subscribe col-sm-6">
			<div class="subscribe-form">
				<h5>Подписаться на новости и акции</h5>
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Оставьте Ваш E-mail"/><span class="input-group-btn">
						<button class="btn btn-default" type="button">Подписаться</button></span>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright-line">
	<div class="container">
		<div class="col-sm-12"><span class="copyright">&copy; 2016 Артель-Молл</span><span>
				 Создание сайта - <a href="#">Individ</a></span></div>
	</div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//use.fontawesome.com/c36757424e.js"></script>