
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE-edge"/>
<title>ArtelMall - Гипермаркет строительных товаров</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Philosopher&amp;amp;subset=cyrillic"/>
<link rel="stylesheet" href="/css/style.min.css"/>